@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header { 
	background-color: #7cc576;
	 }
.clearfix::after {
	content: "";
	clear: both;
	display: table;

}
body {
	margin: 0px;
	background-image: url("../img/palm-leaf.png");
	}
.navigation {
    width:100%; 
    position:relative; 
    text-align:center;;
}
.logo {
	float: left;
	display: block;
	position: relative;
	width: auto;
	height: auto;
}
h1 {
	font-size: auto;
	font-weight: normal;
	font-family: serif;
}
button {
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	background-color: #6dcff6;
	border: 0px;
	font-size: 20px;
	border-radius: 5px;
	margin: 20px;
}
h2 {
	font-size: auto;
	font-weight: normal;
	font-family: serif;
}
.main-content {
	width: 70%;
	float: left;
}
aside {
	width: 30%;
	float: right;
	padding: 10px;
}
.second-half {
	display: flex;
	width: 100%;
	align-content: center;
}
h4 {
	font-size: 20px;
	font-weight: normal;
	font-family: serif;
	display: flex;
	float: left;
	padding: 10px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  top: 50px;
  text-align: center;
  align-content: center;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
footer {
	background-color: #7cc576;
	width: 100%;
	bottom: 0;
	margin: 0;
	left: 0;

}
.icons {
	float: right;
	padding-bottom: 20px;

}
@media only screen and (max-width: 960px){

}