@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
* { 
	box-sizing: border-box 
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.topnav .icon {
	display: none;
}
@media screen and (max-width: 760px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 760px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*MOBILE SCREEN START*/

@media screen and (max-width: 760px) {


header {
	width: 100%;
	background-color: white;
}

h1 {
	font-weight: bold;
	font-size: 30px;
	color: #72a9ae;
	font-family: 'Lilita One', cursive;
	display: flex;
	position: relative; bottom: -5px;
}

.title, .navigation {
	background-color: white;
	height: 35px;
}

.navigation {
    width:100%; 
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    position: relative; bottom: -20px;
}

.title {
	height: 30px;
	display: inline-block;
	padding: 20px;
}

#home, #about, #schedule, #portfolio, #contact {
	padding-top: 50px;
	padding-bottom: 50px;
}

.topnav {
	background-color: #72a9ae;

}

.fa-bars {
	color: #333333;
	padding-bottom: 20px;
	position: relative; top: -30px; right: 20px;
	transition: transform .2s;
}

.fa-bars:hover {
	-ms-transform: scale(1.5); 
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.link a {
	text-decoration: none;
	padding: 15px;
	border-bottom: 0.1px solid #808080;
}

.link a:link { 
	color: black;
}

.link a:visited {
	color: black;
}

.link a:hover {
	color: #ffffff;
}

.topnav>li:not(:last-child) { 
	border-bottom: 1px solid #000; 
}

.about-div {
	width: 100%;
	padding: 20px;
	display: block;
	margin: 20px;
	box-sizing: border-box;
	padding-right: 50px;
}

aside {
	width: 100%;
	position:relative; left: -30px;
}

.about-image {
	width: 100%;
	padding-left: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	z-index: 1;
}

h2 {
	font-family: 'bebasregular';
	color: #72a9ae;
	font-size: 25px;
	font-weight: bold;
}

body {
	background-image: url("../img/floor-tile.png");
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	}

table, td, th { 
	border: 1px solid black;
	text-align: center;
	height: 48px;
}

tr:nth-child(even) {
	background: #CCC
}

td {
	padding: 10px;
}

th {
	background: white;
	padding: 15px;
	color: #72a9ae;
	font-family: 'bebasregular';
	font-weight: bold;
	font-size: 16.5px;
}

.schedule-section {
	padding-top: 25px;
	padding-bottom: 25px;
}

.profile-section {
	width: 100%;
	padding: 20px;
	justify-content: center;
	align-items: center;
}

.profile-info {
	display: block;
	text-align: center;
	padding-top: 50px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  resize: vertical;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

select {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background-color: white;
	border: 1px solid black;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#name, #email, #address, #city, #province, #postal-code {
	border: 0.5px solid black;
	height: 25px;
	margin-bottom: 5px;
}

.inline { 
	display: inline;
}

label {
	padding-bottom: 5px;
}
input[type=submit] {
	float: right;
	display: flex;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background-color: white;
	border: 1px solid black;
	padding: 10px 20px 10px 20px;
	text-transform: uppercase;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  height: 375px;
  align-content: center;
  padding-top: 8px;
}
h4 {
	color: #72a9ae;
	font-weight: bold;
	padding-top: 10px;
	font-size: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}

.fas, .fa-user-circle {
	align-content: center;
}

.fa-envelope {
	color: #72a9ae;
}

.fa-facebook {
	color: #3b5999;
}
.fa-youtube {
	color: #cd201f;
}
.fa-twitter {
	color: #55acee;
}

footer {
	width: 100%;
	background-color: #333333;
	color: white;
	text-align: center;
	
}

h3 {
	padding: 25px;
	font-weight: bold;
	font-size: 16.5px;
}


.footer-nav, a {
	color: white;
	/*display: block;*/
}

.footer-nav {
	padding: 10px;
	display: block;
}

.footer-nav a{
	text-decoration: none;
}

.quicklinks {
	padding-bottom: 25px;
	color: white;
}

.social-media {
	padding: 20px;
}

.address {
	padding-bottom: 20px;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}
}
/*DESKTOP SCREEN START*/

@media screen and (min-width: 761px) {

header {
	width: 100%;
	background-color: white;
}

h1 {
	font-weight: bold;
	font-size: 30px;
	color: #72a9ae;
	font-family: 'Lilita One', cursive;
	display: flex;

}

.title, .navigation {
	background-color: white;
	height: 35px;
}

.navigation {
    width:100%; 
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
}

.navigation li {
	display: inline;
	padding: 30px;
}

.navigation a {
	display: inline-block;
	padding: 10px;
}

.title {
	height: 30px;
	display: inline-block;
	padding: 20px;
	margin-bottom: 30px;
}

#home, #about, #schedule, #portfolio, #contact {
	padding-top: 50px;
	padding-bottom: 50px;
}

.topnav {
	background-color: #72a9ae;
}

.fa-bars {
	color: #333333;
	padding-bottom: 20px;
}

.link a {
	text-decoration: none;
}

.link a:link { 
	color: black;
}

.link a:visited {
	color: black;
}

.link a:hover {
	color: #ffffff;
}

.topnav>li:not(:last-child) { 
	border-bottom: 1px solid #000; 
}

.about-section {
	width: 100%;
}

.about-div {
	width: 50%;
	padding: 20px;
	display: inline-block;
	margin: 20px;
	box-sizing: border-box;
}

aside {
	width: 50%;
	display: inline-block;
}

.about-image {
	position: absolute; top: 190px; right: -100px;
}

h2 {
	font-family: 'bebasregular';
	color: #72a9ae;
	font-size: 25px;
	font-weight: bold;
}

body {
	background-image: url("../img/floor-tile.png");
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	}

table, td, th { 
	border: 1px solid black;
	text-align: center;
	height: 48px;
}

tr:nth-child(even) {
	background: #CCC
}

td {
	padding: 20px;
	padding-right: 60px;
}

th {
	background: white;
	padding: 15px;
	color: #72a9ae;
	font-family: 'bebasregular';
	font-weight: bold;
	font-size: 16.5px;
}
.schedule-section {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	justify-content: center;
	margin: 20px;
	padding: 20px;
	display: inline-block;
}

.profile-section {
	width: 100%;
	padding: 20px;
	justify-content: center;
	align-content: center;
	display: inline-block;
}

.edit-profile {
	width: 50%;
	display: inline-block;
	margin: 20px;
	padding-right: 15%;
}

.profile-info {
	width: 45%;
	display: inline-block;
	text-align: center;
	padding: 20px;
	vertical-align: bottom;
	padding-bottom: 75px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  resize: vertical;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

select {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background-color: white;
	border: 1px solid black;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#name, #email, #address, #city, #province, #postal-code {
	border: 0.5px solid black;
	height: 25px;
	margin-bottom: 5px;
}

.inline { 
	display: inline;
}

label {
	padding-bottom: 5px;
}
input[type=submit] {
	float: right;
	display: flex;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background-color: white;
	border: 1px solid black;
	padding: 10px 20px 10px 20px;
	text-transform: uppercase;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  transition: 0.3s;
  background-color: white;
  height: 550px;
  text-align: center;
  padding-top: 100px;
}
h4 {
	color: #72a9ae;
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}

.fas, .fa-user-circle {
	align-content: center;
}

.fa-envelope {
	color: #72a9ae;
}

.fa-facebook {
	color: #3b5999;
	position: relative; right: -35px; bottom: -20px;
}
.fa-youtube {
	color: #cd201f;
	position: relative; right: -40px; bottom: -20px;
}
.fa-twitter {
	color: #55acee;
	position: relative; right: -50px; bottom: -20px;
}

footer {
	width: 100%;
	background-color: #333333;
	color: white;
	display: block;
	padding-bottom: 40px;
}

h3 {
	padding: 25px;
	font-weight: bold;
	font-size: 16.5px;
	position: relative; right: -20px;
}

.quicklinks{
	width: 30%;
	display: inline-block;
	margin-left: 30%; 
	position: relative; right: -15px;
}

.footer-nav ul {
	height: 100%; 
	width: 30%; 


}
.footer-nav a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 5px; 
}

.footer-nav {
	display: inline-block;
	width: 30%; 

}
.social-media {
	width: 30%;
	display: inline-block;
	padding-left: 50px;
	position: relative; top: -68px; 
}

.address {
	width: 30%;
	display: inline-block;
	float: right;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}
}
